@import "../../Landing.scss";

.landing-gallery {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: solid;
  // border-color: red;
  overflow: hidden;
  background-color: $backgroundColor;
  h1 {
    font-family: "Cinzel", serif;
    font-family: "Smokum";
    font-weight: 400;
    text-align: center;
    // color: white;
    // border: solid;
    // border-color: green;
    height: 6%;
    width: 86%;
    font-size: 60px;
    padding-bottom: 8px;
    // background: url(https://images-na.ssl-images-amazon.com/images/I/91TmPQI6%2BAL._AC_SL1500_.jpg);
  }
  section {
    // border: solid;
    // border-color: blue;
    height: 90%;
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    img {
      filter: grayscale(100%);
      padding-top: 20px;
      width: auto;
      height: 25vh;
      // overflow: hidden;
    }
    img:hover {
      filter: grayscale(0%);
      transform: scale(1);
    }
  }
  a {
    font-family: "Cinzel", serif;
    font-weight: 900;
    width: 350px;
    height: 40px;
    font-size: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: limegreen;
    border: solid;
    border-color: limegreen;
    border-radius: 4px;
    margin: 30px 0;
  }
  a:hover {
    color: limegreen;
    background-color: white;
    cursor: pointer;
  }
}
