$backgroundColor: rgb(233, 233, 233);

.landing-page {
  height: 100%;
  margin-top: 17vh;
  margin-bottom: -1px;
  background-color: $backgroundColor;
  .landing-main {
    width: 100%;
    overflow: hidden;
    h2 {
      letter-spacing: 5px;
      position: absolute;
      color: rgb(0, 255, 0);
      font-size: 100px;
      font-family: "CoffeetinInitials";
      font-weight: 100;
      top: 40%;
      left: 35%;
      transform: translate(-10%, -50%)
    }
    .typing {
      content: '';
      letter-spacing: 5px;
      position: absolute;
      color: rgb(0, 255, 0);
      font-size: 50px;
      font-family: "CoffeetinInitials";
      font-weight: 100;
      top: 50%;
      left: 35%;
      transform: translate(-10%, -50%);
      span {
          color: white;
      }
    }
  .fa-arrow-down {
    position: absolute;
    top: 90%;
    left: 50%;
    padding: 0;
    background: transparent;
    font-size: 35px;
    animation: anim 2s infinite;
    color: limegreen;
  }
  }
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}