.header-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.895), rgba(0, 0, 0, 0.435)),
    url(../../assets/Plasma-Cutter.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: "Cinzel", serif;
  .header-contents {
    height: 100vh;
    width: 97vw;
    // border: dotted;
    // border-color: lightcoral;
    .header-top-contents {
      height: 15vh;
      //   border: dotted;
      //   border-color: blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;
      .header-left {
        width: 30%;
        .header-logo {
          height: auto;
          width: 9rem;
        }
      }
      .header-right {
        width: 42%;
        ul {
          color: white;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //   border: dotted;
          //   border-color: greenyellow;
          a,
          p {
            font-size: 20px;
            color: khaki;
          }
          a:hover {
            color: blue;
          }
          li,
          i {
            font-size: 20px;
          }
          li:hover,
          i:hover {
            color: rgba(70, 70, 70, 0.646);
            cursor: pointer;
          }
          .contact-nav {
            padding: 5px 30px;
            border: solid;
            border-color: white;
            border-width: medium;
          }
          .contact-nav:hover {
            background-color: white;
            color: rgba(70, 70, 70, 0.646);
          }
        }
      }
    }
    .header-middle-contents {
      height: 35vh;
      //   border: dotted;
      //   border-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      .middle-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          font-family: "Allerta Stencil", sans-serif;
          font-size: 40px;
          font-weight: 100;
          color: rgba(196, 193, 193, 0.802);
        }
        h3 {
          font-family: "Montserrat Subrayada", sans-serif;
          font-size: 50px;
          font-weight: 900;
          color: rgb(235, 233, 233);
        }
      }
    }
  }
}
