.header-main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.945)), to(rgba(0, 0, 0, 0.635))), url(../../assets/Plasma-Cutter_5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.945), rgba(0, 0, 0, 0.635)), url(../../assets/Plasma-Cutter_5);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Cinzel", serif;
}

.header-main .header-contents {
  height: 100vh;
  width: 97vw;
}

.header-main .header-contents .header-top-contents {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.header-main .header-contents .header-top-contents .header-left {
  width: 30%;
}

.header-main .header-contents .header-top-contents .header-left .header-logo {
  height: auto;
  width: 9rem;
}

.header-main .header-contents .header-top-contents .header-right {
  width: 42vw;
}

.header-main .header-contents .header-top-contents .header-right ul {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main .header-contents .header-top-contents .header-right ul a {
  font-size: 20px;
  color: khaki;
}

.header-main .header-contents .header-top-contents .header-right ul a:hover {
  color: #5555ff;
}

.header-main .header-contents .header-top-contents .header-right ul p,
.header-main .header-contents .header-top-contents .header-right ul li,
.header-main .header-contents .header-top-contents .header-right ul i {
  font-size: 20px;
}

.header-main .header-contents .header-top-contents .header-right ul li:hover,
.header-main .header-contents .header-top-contents .header-right ul i:hover {
  font-weight: 900;
  color: #757575;
  cursor: pointer;
}

.header-main .header-contents .header-top-contents .header-right ul .contact-nav {
  padding: 5px 30px;
  border: solid;
  border-color: white;
  border-width: medium;
}

.header-main .header-contents .header-top-contents .header-right ul .contact-nav:hover {
  background-color: white;
  color: #2c2c2c;
}

.header-main .header-contents .header-middle-contents {
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main .header-contents .header-middle-contents .middle-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-main .header-contents .header-middle-contents .middle-contents h1 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: khaki;
}

.header-main .header-contents .header-middle-contents .middle-contents h3 {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 60px;
  font-weight: 100;
  color: #ebe9e9;
}
/*# sourceMappingURL=Header.css.map */