$primaryColor: limegreen;
@import "../Landing/Landing.scss";

.header-main {
  background-color: white;
  // background: url(https://png.pngtree.com/thumb_back/fw800/background/20190828/pngtree-artistic-wooden-panel-background-with-brown-planks-image_310037.jpg);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 100vw 18vh;
  // filter: sepia(0.3);
  // background-size: cover;
  display: flex;
  justify-content: center;
  font-family: "Cinzel", serif;
  font-family: "WestTest";
  font-family: "Smokum";
  // font-family: "CoffeetinInitials";
  // font-family: "Ewert", cursive;
  font-weight: 100;
  width: 100%;
  position: fixed;
  z-index: 100000;
  .header-contents {
    height: 14.5vh;
    width: 97%;
    // border: dotted;
    // border-color: lightcoral;
    .header-top-contents {
      height: 15vh;
      //   border: dotted;
      //   border-color: blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding-top: 15px;
      .header-left {
        width: 20%;
        .header-logo {
          height: auto;
          width: 9rem;
        }
      }
      .header-right {
        width: 80%;
        ul {
          color: black;
          // color: white;
          display: flex;
          // change justify content to flex-end if johnny likes second mockup with contacts page (view line 51 also)
          justify-content: flex-end;
          align-items: center;
          //   border: dotted;
          //   border-color: greenyellow;
          // a {
          //   font-size: 20px;
          //   color: $primaryColor;
          // }
          // a:hover {
          //   color: rgb(85, 85, 255);
          // }
          p,
          li {
            // use padding if johnny likes second mockup with contacts page
            padding-left: 80px;
            font-size: 40px;
            // border: dotted;
            // border-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            // color: white;
          }
          i {
            margin-left: 5px;
          }
          li:hover {
            // font-weight: 100;
            color: $primaryColor;
            cursor: pointer;
            // text-decoration: underline $primaryColor;
          }
          .contact-nav {
            padding: 5px 30px;
            border: solid;
            border-color: black;
            border-width: medium;
            color: black;
            text-decoration: none;
          }
          .contact-nav:hover {
            font-weight: 900;
            background-color: $primaryColor;
            color: rgb(44, 44, 44);
            border-color: $primaryColor;
          }
        }
      }
    }
  }
}
